<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about">butwhy</a></li>
			<li><a href="/blog">penonpaper</a></li>
			
			<!--<li><a href="/projects">projects</a></li>-->

        		<li><a href="/weloveyoubut">we love you but</a></li>
			<li><a href="/roadnottaken">road not taken</a></li>
        		<li><a href="/heroes">heroes</a></li>
			<li><a href="/whyshenme">whyshenme</a></li>

    		</ul>
	</nav>
		
	<div class="container">
    	<div class="blurb">
			{{ content }}
    	</div><!-- /.blurb -->
	</div><!-- /.container -->
	
	<footer>
    		<ul>
        		<li><a href="mailto:cyg2002@gmail.com">吃了吗？</a></li>
		</ul>
	</footer>
</body>

</div>    
    
    
</html>
