<!DOCTYPE html>
<html>

<head>
	<title>there will be bread</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
	<header style="color:#A2ADBC"><h1>there will be bread</h1></header>
</head>

<body>
	<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about">but why</a></li>
			<li><a href="/blog">pen on paper</a></li>
			<li><a href="/writings">writings</a></li>
        		<!--<li><a href="/weloveyoubut">we love you but</a></li>
			<li><a href="/roadnottaken">road not taken</a></li>-->
        		<li><a href="/heroes">heroes</a></li>
			<li><a href="/whyshenme">whyshenme</a></li>

    		</ul>
	</nav>
		
	<div class="container">
    	<div class="blurb">
		<div style="padding: 20px 20px 20px 0">
			{{ content }}
    		</div>
	</div><!-- /.blurb -->
	</div><!-- /.container -->
	
	<footer>
    		<ul>
        		<li><a href="mailto:cyg2002@gmail.com">吃了吗？</a></li>
		</ul>
	</footer>
</body>

</div>    
    
    
</html>
