<!DOCTYPE html>
<html>

<head>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

			<title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">


<style>

a:link {
    color: red; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
    
body {
    font-family: 'Roboto'; font-size: 16px; color: grey;
    padding: 200px;
}
</style>
</head>

<body>
	<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<!--<li><a href="/about">about</a></li>-->
        		<li><a href="/weloveyoubut">we love you but</a></li>
        		<li><a href="/heroes">heroes</a></li>
			<li><a href="/whyshenme">whyshenme</a></li>

    		</ul>
	</nav>
		
	<div class="container">
    	<div class="blurb">
			{{ content }}
    	</div><!-- /.blurb -->
	</div><!-- /.container -->
	
	<footer>
    		<ul>
        		<li><a href="mailto:cyg2002@gmail.com">email</a></li>
		</ul>
	</footer>
</body>

</div>    
    
    
</html>
